{% extends 'after login/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | DASHBOARD ADMIN {% endblock %}
{% block bread %}
<h1 class="page-title">Halaman untuk (nama admin)!</h1>
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="admin">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ul>
{% endblock %}
{% block content %}
<div class="card border" style="border-color: #f39c12 !important;">
    <div class="card-header" style="background-color: #f39c12;">
        <div class="d-flex ">
            <h5 class="mb-0 flex-grow-1">
                Selamat Datang
            </h5>
            <i class="float-right btn icon-collapse hidden fas fa-minus"></i>
            <i class="float-right btn icon-remove fas fa-times"></i>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates id sit expedita, nostrum voluptatibus, 
            quod fugit facere debitis asperiores ut labore? Ab doloremque sit, aperiam ipsam voluptate reprehenderit pariatur quas!</p>
    </div>
    <script>
        // collapse card
        document.querySelector('.icon-collapse').addEventListener('click', function () {
            var cardBody = this.parentElement.parentElement.nextElementSibling;
            cardBody.classList.toggle('collapse');
        });

        // remove card
        document.querySelector('.icon-remove').addEventListener('click', function () {
            var card = this.parentElement.parentElement.parentElement;
            card.remove();
        });
    </script>
</div>
{% endblock %}