{% extends 'after login admin/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | TAGIHAN MAHASISWA {% endblock %}
{% block bread %}
<h3 class="page-title">Tagihan dan Transaksi</h3>
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Tagihan dan Transaksi</li>
</ul>
{% endblock %}
{% block content %} 
<div class="card invoices-tabs-card border-0">
  <div class="card-body card-body pt-0 pb-0">
    <div class="invoices-main-tabs">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8">
          <div class="invoices-tabs">
            <ul>
              <li>
                <a href="/tagihan-mahasiswa" class="active">Semua Tagihan</a>
              </li>
              <li>
                <a href="invoices-paid.html">Lunas</a>
              </li>
              <li>
                <a href="invoices-overdue.html">Menunggak</a>
              </li>
              <li>
                <a href="invoices-cancelled.html">Dibatalkan</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="invoices-settings-btn">
            <a href="invoices-settings.html" class="invoices-settings-icon">
              <i class="feather feather-settings"></i>
            </a>
            <a href="add-invoice.html" class="btn">
              <i class="feather feather-plus-circle"></i> Tagihan Baru </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon1.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">$8,78,797</div>
          </div>
        </div>
        <p class="inovices-all">Semua Tagihan <span>50</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon2.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">$4,5884</div>
          </div>
        </div>
        <p class="inovices-all">Tagihan Dibayar <span>60</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon3.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">$2,05,545</div>
          </div>
        </div>
        <p class="inovices-all">Tagihan Belum Dibayar <span>70</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon4.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">$8,8,797</div>
          </div>
        </div>
        <p class="inovices-all">Tagihan Dibatalkan <span>80</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-stripped table-hover datatable">
            <thead class="thead-light">
              <tr>
                <th>ID tagihan</th>
                <th>Kategori</th>
                <th>Dibuat pada</th>
                <th>Ditagihan kepada</th>
                <th>Jumlah</th>
                <th>Tanggal jatuh tempo</th>
                <th>Status</th>
                <th class="text-end">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="custom_check">
                    <input type="checkbox" name="invoice">
                    <span class="checkmark"></span>
                  </label>
                  <a href="view-invoice.html" class="invoice-link">IN093439#@09</a>
                </td>
                <td>Advertising</td>
                <td>16 Mar 2022</td>
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html">
                      <img class="avatar avatar-sm me-2 avatar-img rounded-circle" src="static/img/logounjaya.png" alt="User Image"> Barbara Moore </a>
                  </h2>
                </td>
                <td class="text-primary">$1,54,220</td>
                <td>23 Mar 2022</td>
                <td>
                  <span class="badge bg-success-light">Lunas</span>
                </td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="edit-invoice.html">
                        <i class="far fa-edit me-2"></i>Edit </a>
                      <a class="dropdown-item" href="view-invoice.html">
                        <i class="far fa-eye me-2"></i>View </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="far fa-trash-alt me-2"></i>Delete </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom_check">
                    <input type="checkbox" name="invoice">
                    <span class="checkmark"></span>
                  </label>
                  <a href="view-invoice.html" class="invoice-link">IN093439#@10</a>
                </td>
                <td>Food</td>
                <td>14 Mar 2022</td>
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html">
                      <img class="avatar avatar-sm me-2 avatar-img rounded-circle" src="static/img/logounjaya.png" alt="User Image"> Karlene Chaidez </a>
                  </h2>
                </td>
                <td class="text-primary">$1,222</td>
                <td>18 Mar 2022</td>
                <td>
                  <span class="badge bg-danger-light">Menunggak</span>
                </td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="edit-invoice.html">
                        <i class="far fa-edit me-2"></i>Edit </a>
                      <a class="dropdown-item" href="view-invoice.html">
                        <i class="far fa-eye me-2"></i>View </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="far fa-trash-alt me-2"></i>Delete </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom_check">
                    <input type="checkbox" name="invoice">
                    <span class="checkmark"></span>
                  </label>
                  <a href="view-invoice.html" class="invoice-link">IN093439#@11</a>
                </td>
                <td>Marketing</td>
                <td>7 Mar 2022</td>
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html">
                      <img class="avatar avatar-sm me-2 avatar-img rounded-circle" src="static/img/logounjaya.png" alt="User Image"> Russell Copeland </a>
                  </h2>
                </td>
                <td class="text-primary">$3,470</td>
                <td>10 Mar 2022</td>
                <td>
                  <span class="badge bg-warning-light">Dibatalkan</span>
                </td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="edit-invoice.html">
                        <i class="far fa-edit me-2"></i>Edit </a>
                      <a class="dropdown-item" href="view-invoice.html">
                        <i class="far fa-eye me-2"></i>View </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="far fa-trash-alt me-2"></i>Delete </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom_check">
                    <input type="checkbox" name="invoice">
                    <span class="checkmark"></span>
                  </label>
                  <a href="view-invoice.html" class="invoice-link">IN093439#@12</a>
                </td>
                <td>Repairs</td>
                <td>24 Mar 2022</td>
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html">
                      <img class="avatar avatar-sm me-2 avatar-img rounded-circle" src="static/img/logounjaya.png" alt="User Image"> Joseph Collins </a>
                  </h2>
                </td>
                <td class="text-primary">$8,265</td>
                <td>30 Mar 2022</td>
                <td>
                  <span class="badge bg-success-light">Lunas</span>
                </td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="edit-invoice.html">
                        <i class="far fa-edit me-2"></i>Edit </a>
                      <a class="dropdown-item" href="view-invoice.html">
                        <i class="far fa-eye me-2"></i>View </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="far fa-trash-alt me-2"></i>Delete </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom_check">
                    <input type="checkbox" name="invoice">
                    <span class="checkmark"></span>
                  </label>
                  <a href="view-invoice.html" class="invoice-link">IN093439#@13</a>
                </td>
                <td>Software</td>
                <td>17 Mar 2022</td>
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html">
                      <img class="avatar avatar-sm me-2 avatar-img rounded-circle" src="static/img/logounjaya.png" alt="User Image"> Jennifer Floyd </a>
                  </h2>
                </td>
                <td class="text-primary">$5,200</td>
                <td>20 Mar 2022</td>
                <td>
                  <span class="badge bg-danger-light">Menunggak</span>
                </td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item" href="edit-invoice.html">
                        <i class="far fa-edit me-2"></i>Edit </a>
                      <a class="dropdown-item" href="view-invoice.html">
                        <i class="far fa-eye me-2"></i>View </a>
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="far fa-trash-alt me-2"></i>Delete </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body> {% endblock %}