{% extends 'after login admin/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | TAGIHAN MAHASISWA {% endblock %}
{% block bread %}
<h3 class="page-title">Tagihan dan Transaksi</h3>
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
  <li class="breadcrumb-item active">Tagihan dan Transaksi</li>
</ul>
{% endblock %}
{% block content %}
<div class="card invoices-tabs-card border-0">
  <div class="card-body card-body pt-0 pb-0">
    <div class="invoices-main-tabs">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8">
          <div class="invoices-tabs">
            <ul>
              <li>
                <a href="/tagihan-mahasiswa" class="active">Semua Tagihan</a>
              </li>
              <li>
                <a href="/tagihan-mahasiswa-lunas">Lunas</a>
              </li>
              <li>
                <a href="/tagihan-mahasiswa-nunggak">Menunggak</a>
              </li>
              <li>
                <a href="/tagihan-mahasiswa-batal">Dibatalkan</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="invoices-settings-btn">
            <a href="invoices-settings.html" class="invoices-settings-icon">
              <i class="fa-solid fa-gear fa-2xl"></i>
            </a>
            <a href="/tambah-tagihan-mahasiswa" class="btn">
              <i class="fa-solid fa-circle-plus fa-lg"></i>
              <span>Tagihan Baru</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon1.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">Rp 8,78,797</div>
          </div>
        </div>
        <p class="inovices-all">Semua Tagihan <span>50</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon2.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">Rp 4,5884</div>
          </div>
        </div>
        <p class="inovices-all">Tagihan Dibayar <span>60</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon3.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">Rp 2,05,545</div>
          </div>
        </div>
        <p class="inovices-all">Tagihan Belum Dibayar <span>70</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card inovices-card">
      <div class="card-body">
        <div class="inovices-widget-header">
          <span class="inovices-widget-icon">
            <img src="static/img/icon/invoices-icon4.svg" alt="">
          </span>
          <div class="inovices-dash-count">
            <div class="inovices-amount">Rp 8,8,797</div>
          </div>
        </div>
        <p class="inovices-all">Tagihan Dibatalkan <span>80</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table class="datatable table table-stripped" id="myTable">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>NIM</th>
                <th>Nama</th>
                <th>Tunggakan</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <th>74734182</th>
                <th>Randi</th>
                <th>Rp 0</th>
                <th><span class="badge rounded-pill bg-success">Lunas</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
              <tr>
                <th>2</th>
                <th>74734182</th>
                <th>Jokowi</th>
                <th>Rp 3.000.000.000.000</th>
                <th><span class="badge rounded-pill bg-danger">Nunggak</span></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $('#myTable').DataTable({
    pagingType: 'full_numbers',
  });
</script>
{% endblock %}