{% extends 'before login/beranda/base.html' %} 
{% block title %} Portal Akademik | Beranda {% endblock %}
{% block beranda %}
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img class="img-slider" src="static/img-slider/gambar1.jpg" alt=""></div>
      <div class="swiper-slide"><img class="img-slider" src="static/img-slider/gambar2.jpg" alt=""></div>
      <div class="swiper-slide"><img class="img-slider" src="static/img-slider/gambar3.jpg" alt=""></div>
      <div class="swiper-slide"><img class="img-slider" src="static/img-slider/gambar4.jpg" alt=""></div>
      <div class="swiper-slide"><img class="img-slider" src="static/img-slider/gambar5.jpg" alt=""></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
  <script>
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  effect: "fade",
  autoplay: {delay: 5000,},

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  // scrollbar: {
  //   el: '.swiper-scrollbar',
  // },
});
  </script>
{% endblock %}