{% extends 'before login/beranda/base.html' %} 
{% block title %} PORTAL AKADEMIK | MASUK {% endblock %}
{% block login %}
<div class="center">
    <div class="form-box">
        <div class="form-value">
            <form action="/autentifikasi" method="POST">
                <h2>PORTAL AKADEMIK UNJAYA</h2>
                <div class="inputbox">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="nim" id="nim" required>
                    <label for="">USERNAME/NIM</label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" id="password" required>
                    <label for="">PASSWORD</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Ingat Saya <a href="#">Lupa Kata Sandi</a></label>
                </div>
                <button class="btnLogin-masuk" type="submit" value="masuk">Masuk</button>
            </form>
            <div class="note">
                <p>Jika anda belum mempunyai Username dan Password silahkan hubungi Bagian Administrasi Akademik</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}