{% extends 'after login/dashboard/base_admin.html' %}

{% block title %} PORTAL AKADEMIK | DATA LOGIN USER {% endblock %}

{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="data-login-user">Data Login User</a></li>
    <li class="breadcrumb-item active">Tambah Data Login User</li>
</ul>
{% endblock %}

{% block content %}
<form action="{{ url_for('create_user') }}" method="post">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Tambah User</h5>
        </div>
        <div class="card-body">
            <!-- Nama -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Nama Lengkap</label>
                <div class="col-md-10">
                    <input type="text" name="nama" placeholder="Masukan nama lengkap" class="form-control">
                </div>
            </div>
            <!-- User -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Username / NIM</label>
                <div class="col-md-10">
                    <input type="text" name="" placeholder="Masukan username atau NIM" class="form-control">
                </div>
            </div>
            <!-- password -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Password</label>
                <div class="col-md-10">
                    <input type="password" name="password" placeholder="Masukan password" class="form-control">
                </div>
            </div>
            <!-- Roles -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Roles</label>
                <div class="col-md-10">
                    <select name="role" class="form-control form-select">
                        <option hidden>-- Pilih Role --</option>
                        <option>Mahasiswa</option>
                        <option>Admin</option>
                    </select>
                </div>
            </div>
            <!-- Submit button -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-circle-check"></i>
                    <span>Simpan</span>
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}