{% extends 'after login/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | DATA ADMIN {% endblock %}
{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Admin</li>
</ul>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title mb-2">Data Admin</h3>
        <a href="{{ url_for('create_admin') }}">
            <button type="button" class="btn btn-primary">
            <i class="fa-solid fa-user-plus"></i>
            <span>Tambah Admin</span>
            </button>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="datatable table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Nama</th>
                        <th>Tempat tanggal lahir</th>
                        <th>Jenis kelamin</th>
                        <th>Agama</th>
                        <th>Alamat</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Foto</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in data_admin %}
                    <tr>
                        <td>{{ admin[0] }}</td>
                        <td>{{ admin[1] }}</td>
                        <td>{{ admin[2] }}</td>
                        <td>{{ admin[3] }}</td>
                        <td>{{ admin[4] }}</td>
                        <td>{{ admin[5] }}</td>
                        <td>{{ admin[6] }}</td>
                        <td>{{ admin[7] }}</td>
                        <td>{{ admin[8] }}</td>
                        <td>{{ admin[9] }}</td>
                        <td>{{ admin[10] }}</td>
                        <td>
                            <a href="{{ url_for('update_admin', id=admin[0]) }}">
                                <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                                </button>
                            </a>
                            <a href="{{ url_for('delete_admin', id=admin[0]) }}">
                                <button type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#myTable').DataTable({
        select: true
    });
</script>
{% endblock %}