{% extends 'after login/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | DATA MAHASISWA {% endblock %}
{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Mahasiswa</li>
</ul>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-2">Data Mahasiswa</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="datatable table table-stripped" id="myTable">
                <thead>
                    <tr>
                        <th>Nim</th>
                        <th>Nama</th>
                        <th>Tempat, Tanggal Lahir</th>
                        <th>Jenis Kelamin</th>
                        <th>Alamat</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mahasiswa in data_mahasiswa %}
                    <tr>
                        <td>{{ mahasiswa[0] }}</td>
                        <td>{{ mahasiswa[1] }}</td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#myTable').DataTable({
        select: true
    });
</script>
{% endblock %}