{% extends 'after login/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | DATA MAHASISWA {% endblock %}
{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Mahasiswa</li>
</ul>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-2">Data Mahasiswa</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="datatable table table-stripped" id="myTable">
                <thead>
                    <tr>
                        <th>Nim</th>
                        <th>Nama</th>
                        <th>Tempat, Tanggal Lahir</th>
                        <th>Jenis Kelamin</th>
                        <th>Alamat</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>212103032</td>
                        <td>Muhammad Randu Diva</td>
                        <td>Sleman, 06 Desember 2001</td>
                        <td>Laki-Laki</td>
                        <td>Sleman</td>
                        <td>089652532796</td>
                        <td>ndhu2001@gmail.com</td>
                        <td>
                            <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                        <td>
                            <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#myTable').DataTable({
        select: true
    });
</script>
{% endblock %}