{% extends 'after login/dashboard/base_admin.html' %}

{% block title %} PORTAL AKADEMIK | DATA LOGIN USER {% endblock %}

{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Login User</li>
</ul>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1 class="card-title">Data Login User</h1>
        <a href="{{ url_for('create_user') }}">
            <button type="button" class="btn btn-primary">
            <i class="fa-solid fa-user-plus"></i>
            <span>Tambah User</span>
            </button>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="datatable table table-stripped" id="myTable">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Usename</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Foto</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in data_user %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#myTable').DataTable({
        select: true
    });
</script>
{% endblock %}