{% extends 'after login/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | EDIT DATA ADMIN {% endblock %}
{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/data-admin">Data Admin</a></li>
    <li class="breadcrumb-item active">Edit Data Admin</li>
</ul>
{% endblock %}
{% block content %}
<form action="{{ url_for('update_process_admin') }}" method="post">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Edit Data Admin</h5>
        </div>
        <div class="card-body">
            <!-- Username -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Username</label>
                <div class="col-md-10">
                    <input type="text" name="username" value="{{ data_user[1] }}" maxlength="10" class="form-control">
                </div>
            </div>
            <!-- Password -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Password</label>
                <div class="col-md-10">
                    <input type="password" name="password" maxlength="20" class="form-control">
                </div>
            </div>
            <!-- Nama -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Nama</label>
                <div class="col-md-10">
                    <input type="text" name="nama" id="nama" value="{{ data_user[3] }}" maxlength="25" class="form-control">
                </div>
            </div>
            <!-- Tempat lahir -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Tempat Lahir</label>
                <div class="col-md-10">
                    <input type="text" name="tempat_lahir" value="{{ data_user[4] }}" maxlength="20" class="form-control">
                </div>
            </div>
            <!-- Tanggal lahir -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Tanggal Lahir</label>
                <div class="col-md-10">
                    <input type="date" name="tanggal_lahir" value="{{ data_user[5] }}" class="form-control">
                </div>
            </div>
            <!-- Jenis kelamin -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Jenis Kelamin</label>
                <div class="col-md-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="jenis_kelamin" id="laki_laki" value="Laki-laki" {% if jenis_kelamin == 'Laki-laki' %} checked {% endif %}>
                        <label class="form-check-label" for="laki_laki">Laki-laki</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="jenis_kelamin" id="perempuan" value="Perempuan" {% if jenis_kelamin == 'Perempuan' %} checked {% endif %}>
                        <label class="form-check-label" for="perempuan">Perempuan</label>
                    </div>
                </div>
            </div>
            <!-- Agama -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Agama</label>
                <div class="col-md-10">
                    <select name="agama" class="form-control form-select">
                        <option hidden>-- Pilih Agama --</option>
                        <option value="Islam">Islam</option>
                        <option value="Kristen">Kristen</option>
                        <option value="Katholik">Katholik</option>
                        <option value="Hindu">Hindu</option>
                        <option value="Budha">Budha</option>
                        <option value="Konghucu">Konghucu</option>
                    </select>
                </div>
            </div>
            <!-- Alamat -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Alamat</label>
                <div class="col-md-10">
                    <textarea name="alamat" maxlength="255" class="form-control">{{ data_user[8] }}</textarea>
                </div>
            </div>
            <!-- Nomor Telepon -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Nomor Telepon</label>
                <div class="col-md-10">
                    <input type="tel" name="no_telepon" value="{{ data_user[9] }}" maxlength="15" class="form-control">
                </div>
            </div>
            <!-- Email -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="email" name="email" value="{{ data_user[10] }}" maxlength="20" class="form-control">
                </div>
            </div>
            <!-- Foto -->
            <!-- <div class="form-group row">
                <label class="col-form-label col-md-2">Foto</label>
                <div class="col-md-10">
                    <input type="file" name="foto" class="form-control-file">
                    <small class="form-text text-muted">Format file harus .jpg, .jpeg, atau .png</small>
                </div>
            </div> -->
            <!-- Role -->
            <div class="form-group row">
                <label class="col-form-label col-md-2">Role</label>
                <div class="col-md-10">
                    <select name="role_id" class="form-control form-select">
                        <option hidden>-- Pilih Role --</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>
            <!-- Submit button -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-circle-check"></i>
                    <span>Simpan</span>
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}