{% extends 'after login admin/dashboard/base_admin.html' %}
{% block title %} PORTAL AKADEMIK | DATA MAHASISWA {% endblock %}
{% block bread %}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Mahasiswa</li>
</ul>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title mb-2">Data Mahasiswa</h3>
        <a href="{{ url_for('create_mahasiswa') }}">
            <button type="button" class="btn btn-primary">
            <i class="fa-solid fa-user-plus"></i>
            <span>Tambah Mahasiswa</span>
            </button>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="datatable table table-stripped" id="myTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Nama</th>
                        <th>Tempat tanggal lahir</th>
                        <th>Jenis kelamin</th>
                        <th>Agama</th>
                        <th>Alamat</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Foto</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mahasiswa in data_mahasiswa %}
                    <tr>
                        <td>{{ mahasiswa[0] }}</td>
                        <td>{{ mahasiswa[1] }}</td>
                        <td>{{ mahasiswa[2] }}</td>
                        <td>{{ mahasiswa[3] }}</td>
                        <td>{{ mahasiswa[4] }}</td>
                        <td>{{ mahasiswa[5] }}</td>
                        <td>{{ mahasiswa[6] }}</td>
                        <td>{{ mahasiswa[7] }}</td>
                        <td>{{ mahasiswa[8] }}</td>
                        <td>{{ mahasiswa[9] }}</td>
                        <td>
                            <a href="{{ url_for('update_mahasiswa', id=mahasiswa[0]) }}">
                                <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                                </button>
                            </a>
                            <a href="{{ url_for('delete_mahasiswa', id=mahasiswa[0]) }}">
                                <button type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#myTable').DataTable({
        select: true
    });
</script>
{% endblock %}