@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");


/* Bagian untuk universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #F9F5EB;
}


/* Bagian untuk before login */
header {
  height: 10vh;
  width: 100%;
  background-color: #DF2E38;
  padding-top: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  user-select: none;
}

.text-logo {
  display: grid;
  grid-template-rows: 1 1;
  text-align: justify;
}

.text-logo h3 {
  font-size: 2.1rem;
  font-weight: 300;
  color: #fff;
}

.text-logo span { 
  font-size: small;
  color: #fff;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s;
}

.btnLogin-popup:hover {
  background-color: #fff;
  color: #151f38;
}


/* Bagian untuk image slider */
/* .swiper {
  width: 100%;
  height: 600px;
  object-fit: cover;
} */

.img-slider{
  width: 2000px;
  height: 600px;
  object-fit: cover;
  object-position: 100% 50%;
}


/* Bagian untuk form login */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-box {
  position: relative;
  width: 400px;
  height: 500px;
  background: #DF2E38;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 90%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox i {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  accent-color: black;
  margin-right: 3px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
  margin-left: 90px;
}

.forget label a:hover {
  text-decoration: underline;
}

.btnLogin-masuk {
  width: 100%;
  height: 40px;
  border: #fff 1px solid;
  border-radius: 40px;
  background: #fff;
  color: #DF2E38;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.btnLogin-masuk:hover {
  border-radius: 40px;
  border: #fff 2px solid;
  background: #DF2E38;
  color: #fff;
}

.note {
  position: relative;
  top: 10px;
  text-align: center;
  color: #fff;
}