
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}

    {% endblock %}</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="static/logounjaya.png" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- Font Awensome -->
  <script src="https://kit.fontawesome.com/87bb52e196.js" crossorigin="anonymous"></script>

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <div class="d-flex justify-content-between container-fluid shadow-sm p-2 mb-3 bg-body-tertiary">
    <!-- Humberger Menu -->
    <div class="d-flex align-items-center">
      <a class="btn" style="color: var(--bs-body);" data-bs-toggle="offcanvas" id="btnHum" href="#sidebar1"
        role="button" aria-controls="sidebar1">
        <i class="fa-solid fa-bars"></i>
      </a>
      <span class="fw-bold">
        {% block navTi %}

        {% endblock %}
      </span>
    </div>
    <!-- Mode Switcher -->
    <div class="form-check form-switch d-flex align-items-center gap-3">
      <input class="form-check-input" type="checkbox" role="switch" id="btnSwitch">
      <i class="fa-solid fa-moon" id="is"></i></i>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="sidebar1"
    aria-labelledby="sidebar1Label">
    <div class="offcanvas-header d-flex gap-1">
      <img src="static/logounjaya.png" alt="logologin" class="logo">
      <span>Portal Pendidikan UNJAYA</span>
    </div>
    <div class="offcanvas-body">
      <div class="d-flex flex-column h-100 d-inline-block justify-content-between">
        <!-- Navigation -->
        <div>
          <a href="#" class="btn w-100 text-start" style="color: var(--bs-body);">Home</a>
          <button style="color: var(--bs-body);" class="btn d-flex align-items-center justify-content-between">
            <span>Dropdown</span>
            <i class="fa-solid fa-caret-down"></i>
          </button>
        </div>
        <div class="d-flex mb-3">
          <div class="p-2"><i class="fa-solid fa-circle-user"></i></div>
          <div class="p-2">Nama User</div>
          <div class="ms-auto p-2">Flex item</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class=" container-fluid px-4">
    {% block content %}

    {% endblock %}
  </div>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    document.getElementById('btnSwitch').addEventListener('click', () => {
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light');
        document.getElementById('btnSwitch').checked = true;
        document.getElementById('is').classList.remove('fa-moon');
        document.getElementById('is').classList.add('fa-sun');
      }
      else {
        document.documentElement.setAttribute('data-bs-theme', 'dark');
        document.getElementById('btnSwitch').checked = false;
        document.getElementById('is').classList.add('fa-moon');
        document.getElementById('is').classList.remove('fa-sun');
      }
    })
  </script>
  {% block script %}

  {% endblock %}
</body>

</html>