<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="shortcut icon" href="static/logounjaya.png" type="image/x-icon">
  <title>Kelompok 14 | Project SPP</title>
</head>
<body>
    <section>
        <header>
            <h2 class="logo">Logo</h2>
            <nav class="navigation">
                <a href="#">Beranda</a>
                <a href="#">Tentang</a>
                <a href="#">Layanan</a>
                <a href="#">Kontak</a>
                <button class="btnLogin-popup">Masuk</button>
            </nav>
        </header>
    </section>
    <script src="static/scripts.js"></script>
</body>