<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="shortcut icon" href="static/logounjaya.png" type="image/x-icon">
  <title>Kelompok 14 | Project SPP</title>
</head>
<body>
    <section>
        <header>
            <img src="static/logounjaya.png" alt="logologin" class="logo">
            <nav class="navigation">
                <a href="beranda">Beranda</a>
                <a href="tentang">Tentang</a>
                <a href="layanan">Layanan</a>
                <a href="https://wa.me/6289652532796">Kontak</a>
                <button class="btnLogin-popup" onclick="window.location.href='login'">Masuk</button>
            </nav>
        </header>
    </section>
</body>