<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="static/logounjaya.png" type="image/x-icon">
    <title>Kelompok 14 | Project SPP</title>
</head>

<body>
    <section>
        <header>
            <img src="static/logounjaya.png" alt="logologin" class="logo">
            <nav class="navigation">
                <a href="beranda">Beranda</a>
                <a href="tentang">Tentang</a>
                <a href="layanan">Layanan</a>
                <a href="https://wa.me/6289652532796">Kontak</a>
                <button class="btnLogin-popup" onclick="window.location.href='login'">Masuk</button>

            </nav>
        </header>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>PORTAL PEMBAYARAN SPP</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Nomor Induk Mahasiswa</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Ingat Saya <a href="#">Lupa Kata Sandi</a></label>
                    </div>
                    <button onclick="window.location.href='home'">Masuk</button>
                </form>
            </div>
        </div>
    </section>
    <script src="static/scripts.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>